#container {
    background-color: #F5C400;
    width: 1024px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #0008A8;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #0008A8;
}
